<div id="<%= dom_id keyword_metric %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Keyword:</strong>
    <%= keyword_metric.keyword %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Volume:</strong>
    <%= keyword_metric.volume %>
  </p>

</div>
